/* Estilo general del body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fondo claro */
    color: #333;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 20px; /* Aumentar el espacio para un mejor diseño */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
    background-color: #575757;
    color: #f4f4f4;
}

/* Enlace de cerrar sesión en la esquina superior derecha */
.navbar .logout {
    position: absolute;
    top: 0;
    right: 7px;
    padding: 14px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #333; /* Mismo color que la barra de navegación */
}

.navbar .logout:hover {
    background-color: #575757;
}

/* Contenedor principal */
.contenidoprincipal {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333;
}

.contenidoprincipal h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.contenidoprincipal p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.informacion-importante {
    margin-top: 30px;
}

.informacion-importante h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #444;
    text-align: center;
}

.informacion-importante ul {
    list-style-type: none;
    padding: 0;
}

.informacion-importante li {
    margin-bottom: 10px;
    font-size: 16px;
}

.informacion-importante li strong {
    font-weight: bold;
}

/* Estilo para el ícono de inicio en la barra de navegación */
.home-icon img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 0; /* Elimina el espaciado adicional */
}

.home-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el ícono a la izquierda */
    position: absolute;
    left: 3px;
    padding: 14px 20px;
    top: -7px;
}
