/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-top {
    background-color: #222;
    padding: 10px;
    text-align: center;
    font-size: 0.9em;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 150px;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    padding: 10px;
    font-size: 1em;
}

.cart-button, .whatsapp-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* Agrega espacio para el header fijo */
.main-container {
    display: flex;
    min-height: calc(100vh - 150px);
    padding-top: 120px;
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f1f1f1;
    position: fixed;
    top: 120px;
    left: 0;
    height: calc(100vh - 120px);
    overflow-y: auto;
    z-index: 1;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 10px 0;
    font-size: 1.1em;
}

/* Products */
.products {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
    padding-bottom: 60px; /* Añade espacio al final para evitar solapamiento con el footer */
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: calc(33.333% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-image {
    width: auto;
    height: auto;
    max-height: 200px; /* Define una altura máxima para evitar que la imagen sea demasiado alta */
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio de su contenedor */
    margin-bottom: 10px;
}


.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price {
    color: #d32f2f;
    font-size: 1.2em;
}

.product-normal-price {
    text-decoration: line-through;
    color: #999;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    position: relative;
    z-index: 5; /* Asegura que esté sobre el sidebar */
}

.footer-links a {
    color: #ff5733;
    margin: 0 10px;
    text-decoration: none;
}
